# Файл: .gitignore
# Назначение: Список файлов и папок, которые Git НЕ будет сохранять

# Виртуальное окружение (создается на каждом компьютере заново)
venv/
venv/

# Кэш Python (создается автоматически при запуске)
__pycache__/
*.pyc
*.pyo

# Секреты (никогда не выгружайте .env в Git!)
.env

# Отчеты Allure (создаются при тестировании)
allure-results/
allure-report/

# Логи
*.log

# Скриншоты (создаются при падении тестов)
*.png
*.jpg

# Папки IDE (настройки редакторов кода)
.vscode/
.idea/
*.swp

# Файлы отчетов
.pytest_cache/
.coverage
htmlcov/